openapi: 3.0.2
info:
  title: Finix Authorizations Transfers API
  description:
    $ref: api-descriptions/main.md
  contact:
    name: Finix
    url: https://finix.com
    email: support@finixpayments.com
  version: '2022-02-01'
servers:
- description: Sandbox server to be used for testing and development
  url: https://finix.sandbox-payments-api.com
security:
- BasicAuth: []
tags:
- name: Transfers
  description:
    $ref: api-descriptions/tags/transfers.md
paths:
  /transfers:
    post:
      tags:
      - Transfers
      description: Create a `Transfer`.
      summary: Create a Transfer
      operationId: createTransfer
      requestBody:
        $ref: '#/components/requestBodies/CreateTransferRequest'
      responses:
        '201':
          $ref: '#/components/responses/Transfer'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '402':
          $ref: '#/components/responses/ErrorTransfers402'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/Error422InvalidField'
      x-java-method-name: create
      parameters:
      - schema:
          type: string
          default: '2018-01-01'
          example: '2022-02-01'
        in: header
        name: Finix-Version
        description: Specify the API version of your request. For more details, see [Versioning.](/guides/developers/versioning/)
      x-python-method-name: create
    get:
      tags:
      - Transfers
      description: Retrieve a list of `Transfers`.
      summary: List Transfers
      operationId: listTransfers
      parameters:
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryAmountFilter'
      - $ref: '#/components/parameters/QueryAmountGteFilter'
      - $ref: '#/components/parameters/QueryAmountGtFilter'
      - $ref: '#/components/parameters/QueryAmountLteFilter'
      - $ref: '#/components/parameters/QueryAmountLtFilter'
      - $ref: '#/components/parameters/QueryCreatedAtGteFilter'
      - $ref: '#/components/parameters/QueryCreatedAtLteFilter'
      - $ref: '#/components/parameters/QueryIdempotencyIdFilter'
      - $ref: '#/components/parameters/QueryIdFilter'
      - $ref: '#/components/parameters/QuerySettlementReadyToSettleAtGteFilter'
      - $ref: '#/components/parameters/QuerySettlementReadyToSettleAtLteFilter'
      - in: query
        name: state
        description: Filter by Transaction state.
        schema:
          enum:
          - ALL
          - SUCCEEDED
          - FAILED
          - PENDING
          - CANCELED
      - $ref: '#/components/parameters/QueryStatementDescriptorFilter'
      - $ref: '#/components/parameters/QueryTraceIdFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtGteFilter'
      - $ref: '#/components/parameters/QueryUpdatedAtLteFilter'
      - in: query
        name: instrument_bin
        description: Filter by Bank Identification Number (BIN). The BIN is the first 6 digits of the masked number.
        schema:
          type: string
      - schema:
          type: string
        in: query
        name: instrument_account_last4
        description: "Filter Transactions by the last 4 digits of the bank account. The bank account last 4 are the last 4 digits of the masked number\tinstrument_account_last4=9444 BIN."
      - schema:
          type: string
        in: query
        name: instrument_brand_type
        description: Filter by card brand. Available card brand types can be found in the drop-down.
      - schema:
          type: string
        in: query
        name: merchant_identity_id
        description: Filter by `Identity` ID.
      - schema:
          type: string
        in: query
        name: merchant_identity_name
        description: Filter Transactions by `Identity` name. The name is not case-sensitive.
      - schema:
          type: string
        in: query
        name: instrument_name
        description: Filter Transactions by `Payment Instrument` name.
      - schema:
          type: string
        in: query
        name: instrument_type
        description: 'Filter Transactions by `Payment Instrument` type. Available instrument types include: Bank Account or Payment Card'
      - schema:
          type: string
        in: query
        name: merchant_id
        description: Filter by `Merchant` ID.
      - schema:
          type: string
        in: query
        name: merchant_mid
        description: Filter by Merchant Identification Number (MID).
      - schema:
          type: string
        in: query
        name: instrument_card_last4
        description: Filter by the payment card last 4 digits.
      - schema:
          type: string
        in: query
        name: merchant_processor_id
        description: Filter by `Processor` ID.
      - schema:
          type: string
          enum:
          - ALL
          - DEBITS
          - CREDITS
          - REVERSAL
          - SETTLEMENT
          example: REVERSAL
        in: query
        name: type
        description: 'Filter by `Transfer` type. Available type filters include: All, Debits, Refunds, or Credits.'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      - $ref: '#/components/parameters/TagsKey'
      - $ref: '#/components/parameters/TagsValue'
      responses:
        '200':
          $ref: '#/components/responses/TransfersList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: list
      x-group-parameters: true
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl \"https://finix.sandbox-payments-api.com/transfers\" \\\n  -H \"Finix-Version: 2022-02-01\" \\\n  -u USsRhsHYZGBPnQw8CByJyEQW:8a14c2f9-d94b-4c72-8f5c-a62908e5b30e\n"
      x-python-method-name: list
      x-returns-list: true
  /transfers/{transfer_id}:
    parameters:
    - description: ID of `Transfer` resource.
      required: true
      in: path
      name: transfer_id
      schema:
        type: string
    get:
      tags:
      - Transfers
      description: Retrieve a `Transfer`.
      summary: Fetch a Transfer
      operationId: getTransfer
      responses:
        '200':
          $ref: '#/components/responses/Transfer'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: get
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl \"https://finix.sandbox-payments-api.com/transfers/TRvypRNBeqM597Zi4DcqJ2Vh\" \\\n  -H \"Content-Type: application/json\" \\\n  -H \"Finix-Version: 2022-02-01\" \\\n  -u USsRhsHYZGBPnQw8CByJyEQW:8a14c2f9-d94b-4c72-8f5c-a62908e5b30e\n"
      x-python-method-name: get
    put:
      tags:
      - Transfers
      description: Update a `Transfer`.
      summary: Update a Transfer
      operationId: updateTransfer
      responses:
        '200':
          $ref: '#/components/responses/Transfer'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      requestBody:
        $ref: '#/components/requestBodies/UpdateTransferRequest'
      x-java-method-name: update
      x-codeSamples:
      - lang: cURL
        label: curl
        source:
          $ref: xcode/curl/transfers/updatetransfer.md
      x-python-method-name: update
  /transfers/{transfer_id}/reversals:
    parameters:
    - description: ID of `Transfer` object.
      required: true
      in: path
      name: transfer_id
      schema:
        type: string
    post:
      tags:
      - Transfers
      description: "Reverse a transfer with a `type` of **DEBIT**. This reversal creates a new `Transfer` resource with a `type` of **REVERSAL**. \n\nRelated Guides: [Refunding Payments](/guides/after-the-payment/refunding-and-cancelling-payments/)"
      summary: Refund or Reverse a Transfer
      operationId: createTransferReversal
      requestBody:
        $ref: '#/components/requestBodies/CreateReversalRequest'
      responses:
        '201':
          $ref: '#/components/responses/Transfer'
        '400':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
        '422':
          $ref: '#/components/responses/ErrorUnprocessableEntity'
      parameters:
      - schema:
          type: string
          default: '2018-01-01'
          example: '2022-02-01'
        in: header
        name: Finix-Version
        description: Specify the API version of your request. For more details, see [Versioning.](/guides/developers/versioning/)
      x-java-method-name: create_transfer_reversal
      x-python-method-name: create_transfer_reversal
    get:
      tags:
      - Transfers
      description: Retrieve a list of reversals for a `Transfer`.
      summary: List Reversals on a Transfer
      operationId: listTransferReversals
      parameters:
      - required: false
        in: query
        name: limit
        schema:
          type: integer
          format: int64
        description: The number of entries to return.
      - $ref: '#/components/parameters/QueryAfterCursor'
      - $ref: '#/components/parameters/QueryBeforeCursor'
      responses:
        '200':
          $ref: '#/components/responses/ReversalsList'
        '401':
          $ref: '#/components/responses/ErrorUnauthorized'
        '403':
          $ref: '#/components/responses/ErrorForbidden403'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/Error406NotAcceptable'
      x-java-method-name: listTransfersReversals
      x-group-parameters: true
      x-codeSamples:
      - lang: cURL
        label: curl
        source: "curl \"https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP/reversals\" \\\n  -H \"Finix-Version: 2022-02-01\" \\\n  -u USsRhsHYZGBPnQw8CByJyEQW:8a14c2f9-d94b-4c72-8f5c-a62908e5b30e\n"
      x-python-method-name: list_transfers_reversals
      x-returns-list: true
components:
  responses:
    Error422InvalidField:
      description: Invalid field
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error422InvalidFieldList'
    Error406NotAcceptable:
      description: Not Acceptable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error406NotAcceptable'
          examples: {}
    ErrorUnprocessableEntity:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorGeneric'
    ErrorNotFound:
      description: Object does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error404NotFoundList'
    TransfersList:
      description: List of Transfer objects
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransfersList'
          examples:
            List of Transfers:
              value:
                _embedded:
                  transfers:
                  - id: TRvQN3v5mhA2Ttc78hzjLV3j
                    created_at: '2022-10-11T03:25:04.79Z'
                    updated_at: '2022-10-11T03:25:04.79Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 13243
                    amount_requested: 13243
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    fee_type: CARD_BASIS_POINTS
                    idempotency_id: null
                    merchant_identity: IDddHpRqwf2VsH2XB1fmLfhM
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-10-11T03:25:05.32Z'
                    security_code_verification: null
                    source: null
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: PLATFORM_FEE
                    tags: {}
                    trace_id: 611dcc5f-0622-4ec7-8c8b-b08896456d62
                    type: FEE
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRvQN3v5mhA2Ttc78hzjLV3j
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDddHpRqwf2VsH2XB1fmLfhM
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRvQN3v5mhA2Ttc78hzjLV3j/payment_instruments
                      parent:
                        href: https://finix.sandbox-payments-api.com/transfers/TR61nQ89c8U5i7uAvwmSuLnv
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                  - id: TR34MdY6eagpEqhtTaP8EBCR
                    created_at: '2022-10-10T06:32:04.58Z'
                    updated_at: '2022-10-10T06:32:04.58Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 19
                    amount_requested: 19
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    fee_type: CARD_BASIS_POINTS
                    idempotency_id: null
                    merchant_identity: IDddHpRqwf2VsH2XB1fmLfhM
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-10-10T06:32:05.05Z'
                    security_code_verification: null
                    source: null
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: PLATFORM_FEE
                    tags: {}
                    trace_id: a79105c7-8b93-4c36-8734-83f02ca0686c
                    type: FEE
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TR34MdY6eagpEqhtTaP8EBCR
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDddHpRqwf2VsH2XB1fmLfhM
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TR34MdY6eagpEqhtTaP8EBCR/payment_instruments
                      parent:
                        href: https://finix.sandbox-payments-api.com/transfers/TR8bRJ22SBReMehVQMVAbRpr
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                _links:
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers?offset=0&limit=20&sort=created_at,desc&sort=id,desc
                  next:
                    href: https://finix.sandbox-payments-api.com/transfers?offset=20&limit=20&sort=created_at,desc&sort=id,desc
                  last:
                    href: https://finix.sandbox-payments-api.com/transfers?offset=23980&limit=20&sort=created_at,desc&sort=id,desc
                page:
                  limit: 100
                  next_cursor: TRvynw5NU1Uo6TB5USyhbzCx
            List of Settlement Funding Transfers:
              value:
                _embedded:
                  transfers:
                  - id: TRkwxPhCf3qChKFEVGhDjr76
                    created_at: '2022-08-12T21:46:12.97Z'
                    updated_at: '2022-08-12T21:47:06.65Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 102
                    amount_requested: 102
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: PIrFpayBAQcqK35HMQgRfaqD
                    externally_funded: UNKNOWN
                    failure_code: null
                    failure_message: null
                    fee: 0
                    idempotency_id: null
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    messages: []
                    raw: null
                    ready_to_settle_at: null
                    security_code_verification: null
                    source: null
                    state: FAILED
                    statement_descriptor: null
                    subtype: SETTLEMENT_PLATFORM
                    tags: {}
                    trace_id: d4a6df17-f581-42d0-ac70-ad6770acd5c4
                    type: CREDIT
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRkwxPhCf3qChKFEVGhDjr76
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRkwxPhCf3qChKFEVGhDjr76/payment_instruments
                      reversals:
                        href: https://finix.sandbox-payments-api.com/transfers/TRkwxPhCf3qChKFEVGhDjr76/reversals
                      fees:
                        href: https://finix.sandbox-payments-api.com/transfers/TRkwxPhCf3qChKFEVGhDjr76/fees
                      disputes:
                        href: https://finix.sandbox-payments-api.com/transfers/TRkwxPhCf3qChKFEVGhDjr76/disputes
                      destination:
                        href: https://finix.sandbox-payments-api.com/payment_instruments/PIrFpayBAQcqK35HMQgRfaqD
                  - id: TRxb61dJ6PvGcvyS2L2B9SZE
                    created_at: '2022-08-12T21:46:12.98Z'
                    updated_at: '2022-08-12T21:47:05.26Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 2
                    amount_requested: 2
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: UNKNOWN
                    failure_code: null
                    failure_message: null
                    fee: 0
                    idempotency_id: null
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    messages: []
                    raw: null
                    ready_to_settle_at: null
                    security_code_verification: null
                    source: PIm8mdyYcEnYAZLLyw8g59Pw
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: SETTLEMENT_MERCHANT
                    tags: {}
                    trace_id: e192bc39-0909-4da9-b4c2-022a84ae3984
                    type: DEBIT
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRxb61dJ6PvGcvyS2L2B9SZE
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRxb61dJ6PvGcvyS2L2B9SZE/payment_instruments
                      reversals:
                        href: https://finix.sandbox-payments-api.com/transfers/TRxb61dJ6PvGcvyS2L2B9SZE/reversals
                      fees:
                        href: https://finix.sandbox-payments-api.com/transfers/TRxb61dJ6PvGcvyS2L2B9SZE/fees
                      disputes:
                        href: https://finix.sandbox-payments-api.com/transfers/TRxb61dJ6PvGcvyS2L2B9SZE/disputes
                      source:
                        href: https://finix.sandbox-payments-api.com/payment_instruments/PIm8mdyYcEnYAZLLyw8g59Pw
                _links:
                  self:
                    href: https://finix.sandbox-payments-api.com/settlements/STivxR2KrnVdD75TQtitnsG8/funding_transfers?offset=0&limit=20&sort=created_at,desc&sort=id,desc
                page:
                  limit: 100
                  next_cursor: TRvynw5NU1Uo6TB5USyhbzCx
            List of Settlement Transfers:
              value:
                _embedded:
                  transfers:
                  - id: TR8yiKY6ju988aUZhfqJFjag
                    created_at: '2022-08-12T16:56:01.90Z'
                    updated_at: '2022-08-12T16:56:01.90Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 100
                    amount_requested: 100
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    fee_type: CARD_FIXED
                    idempotency_id: null
                    merchant_identity: IDddHpRqwf2VsH2XB1fmLfhM
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-08-12T22:15:02.69Z'
                    security_code_verification: null
                    source: null
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: PLATFORM_FEE
                    tags: {}
                    trace_id: 272fe816-2dd1-46ed-a7e7-9041d7a8f0ff
                    type: FEE
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TR8yiKY6ju988aUZhfqJFjag
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDddHpRqwf2VsH2XB1fmLfhM
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TR8yiKY6ju988aUZhfqJFjag/payment_instruments
                      parent:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                  - id: TRm9ppvqX43CbwmNzhckf2gb
                    created_at: '2022-08-12T16:55:47.66Z'
                    updated_at: '2022-08-12T16:56:02.19Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 100
                    amount_requested: 100
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    idempotency_id: null
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-08-12T04:00:00.00Z'
                    security_code_verification: null
                    source: PIe2YvpcjvoVJ6PzoRPBK137
                    state: SUCCEEDED
                    statement_descriptor: FNX*DUNDER MIFFLIN
                    subtype: API
                    tags: {}
                    trace_id: 381f1f6f-492b-4101-9a57-40001a59813a
                    type: DEBIT
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb/payment_instruments
                      reversals:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb/reversals
                      fees:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb/fees
                      disputes:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb/disputes
                      source:
                        href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                  - id: TRwgubpxAJWbaDZE1kKP6SSi
                    created_at: '2022-08-12T16:56:01.90Z'
                    updated_at: '2022-08-12T16:56:01.90Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 2
                    amount_requested: 2
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    fee_type: CARD_BASIS_POINTS
                    idempotency_id: null
                    merchant_identity: IDddHpRqwf2VsH2XB1fmLfhM
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-08-12T22:15:02.69Z'
                    security_code_verification: null
                    source: null
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: PLATFORM_FEE
                    tags: {}
                    trace_id: 5e2dbd9c-1ad1-4e36-8d16-cfedd3bce385
                    type: FEE
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRwgubpxAJWbaDZE1kKP6SSi
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDddHpRqwf2VsH2XB1fmLfhM
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRwgubpxAJWbaDZE1kKP6SSi/payment_instruments
                      parent:
                        href: https://finix.sandbox-payments-api.com/transfers/TRm9ppvqX43CbwmNzhckf2gb
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                _links:
                  self:
                    href: https://finix.sandbox-payments-api.com/settlements/STivxR2KrnVdD75TQtitnsG8/transfers?offset=0&limit=20&sort=created_at,desc&sort=id,desc
                page:
                  limit: 100
                  next_cursor: TRvynw5NU1Uo6TB5USyhbzCx
            List of Split Transfer Fees:
              value:
                _embedded:
                  transfers:
                  - id: TRf75ZVCM1M4eVojmVYGUnuQ
                    created_at: '2023-07-19T02:30:17.43Z'
                    updated_at: '2023-07-19T02:30:17.43Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 30
                    amount_requested: 30
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    fee_type: CARD_FIXED
                    idempotency_id: null
                    merchant: MU4jpoNGRkAyjBxumZhGa6Hc
                    merchant_identity: IDhCtMvcteDx37eD9m4rmdKd
                    messages: []
                    raw: null
                    ready_to_settle_at: '2023-07-19T07:30:01.27Z'
                    receipt_last_printed_at: null
                    security_code_verification: null
                    source: null
                    split_transfers: null
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: PLATFORM_FEE
                    tags: {}
                    trace_id: 2c56f4f0-1f48-451c-9498-199daaff2e39
                    type: FEE
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRf75ZVCM1M4eVojmVYGUnuQ
                      parent:
                        href: https://finix.sandbox-payments-api.com/split_transfers/split_transfer_7i2gxncPcfkN5rJwuhrb3q
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDhCtMvcteDx37eD9m4rmdKd
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRf75ZVCM1M4eVojmVYGUnuQ/payment_instruments
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPbDSnEPtaT8Nttxj9NJk7eC
                  - id: TR4AyjeiKwML2rZ6fWyVaQST
                    created_at: '2023-07-19T02:30:17.43Z'
                    updated_at: '2023-07-19T02:30:17.43Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 17
                    amount_requested: 17
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: null
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    fee_type: CARD_BASIS_POINTS
                    idempotency_id: null
                    merchant: MU4jpoNGRkAyjBxumZhGa6Hc
                    merchant_identity: IDhCtMvcteDx37eD9m4rmdKd
                    messages: []
                    raw: null
                    ready_to_settle_at: '2023-07-19T07:30:01.27Z'
                    receipt_last_printed_at: null
                    security_code_verification: null
                    source: null
                    split_transfers: null
                    state: SUCCEEDED
                    statement_descriptor: null
                    subtype: PLATFORM_FEE
                    tags: {}
                    trace_id: 48a6fa39-5639-4e2c-b316-fad2db170954
                    type: FEE
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TR4AyjeiKwML2rZ6fWyVaQST
                      parent:
                        href: https://finix.sandbox-payments-api.com/split_transfers/split_transfer_7i2gxncPcfkN5rJwuhrb3q
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDhCtMvcteDx37eD9m4rmdKd
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TR4AyjeiKwML2rZ6fWyVaQST/payment_instruments
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPbDSnEPtaT8Nttxj9NJk7eC
                _links:
                  self:
                    href: https://finix.sandbox-payments-api.com/split_transfers/split_transfer_7i2gxncPcfkN5rJwuhrb3q/fees
                page:
                  limit: 100
                  next_cursor: TR4AyjeiKwML2rZ6fWyVaQST
      headers:
        finix-apiuser-role:
          $ref: '#/components/headers/finix-apiuser-role'
        date:
          $ref: '#/components/headers/date'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
    ReversalsList:
      description: List of Reversals
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransfersList'
          examples:
            List of Reversals on a Transfer:
              value:
                _embedded:
                  transfers:
                  - id: TRtLhSEAHak7isKjZu9x7Gjh
                    created_at: '2022-10-10T04:16:27.47Z'
                    updated_at: '2022-10-10T04:17:05.03Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 100
                    amount_requested: 100
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: PIe2YvpcjvoVJ6PzoRPBK137
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    idempotency_id: null
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-10-10T04:17:05.04Z'
                    security_code_verification: null
                    source: null
                    state: SUCCEEDED
                    statement_descriptor: FNX*DUNDER MIFFLIN
                    subtype: API
                    tags:
                      test: refund
                    trace_id: e200c5b9-3ac9-4a21-a69e-cd0ffb6c2490
                    type: REVERSAL
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRtLhSEAHak7isKjZu9x7Gjh
                      parent:
                        href: https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP
                      destination:
                        href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRtLhSEAHak7isKjZu9x7Gjh/payment_instruments
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                  - id: TRrP7CFqBid1C8kYpBMbxz5q
                    created_at: '2022-09-09T12:32:07.42Z'
                    updated_at: '2022-09-09T12:32:16.39Z'
                    additional_buyer_charges: null
                    additional_healthcare_data: null
                    address_verification: null
                    amount: 100
                    amount_requested: 100
                    application: APgPDQrLD52TYvqazjHJJchM
                    currency: USD
                    destination: PIe2YvpcjvoVJ6PzoRPBK137
                    externally_funded: 'FALSE'
                    failure_code: null
                    failure_message: null
                    fee: 0
                    idempotency_id: null
                    merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                    messages: []
                    raw: null
                    ready_to_settle_at: '2022-09-09T12:32:16.40Z'
                    security_code_verification: null
                    source: null
                    state: SUCCEEDED
                    statement_descriptor: FNX*DUNDER MIFFLIN
                    subtype: API
                    tags:
                      test: refund
                    trace_id: 40087e2c-b65d-4407-a5cc-3259b788f6ac
                    type: REVERSAL
                    _links:
                      application:
                        href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                      self:
                        href: https://finix.sandbox-payments-api.com/transfers/TRrP7CFqBid1C8kYpBMbxz5q
                      parent:
                        href: https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP
                      destination:
                        href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                      merchant_identity:
                        href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                      payment_instruments:
                        href: https://finix.sandbox-payments-api.com/transfers/TRrP7CFqBid1C8kYpBMbxz5q/payment_instruments
                      fee_profile:
                        href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
                _links:
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP/reversals?offset=0&limit=20&sort=created_at,desc&sort=id,desc
                  next:
                    href: https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP/reversals?offset=20&limit=20&sort=created_at,desc&sort=id,desc
                  last:
                    href: https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP/reversals?offset=820&limit=20&sort=created_at,desc&sort=id,desc
                  parent:
                    href: https://finix.sandbox-payments-api.com/transfers/TRacB6Q6GcW6yvFUKawSnMEP
                page:
                  offset: 0
                  limit: 20
                  count: 827
                unreversed_amount: 580954
      headers:
        finix-apiuser-role:
          $ref: '#/components/headers/finix-apiuser-role'
        date:
          $ref: '#/components/headers/date'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
    ErrorForbidden403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error403ForbiddenList'
    ErrorUnauthorized:
      description: Authentication information is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error401Unauthorized'
    ErrorTransfers402:
      description: 402 - Payment required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error402PaymentRequired'
    Transfer:
      description: Single Transfer object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Transfer'
          examples:
            Transfer:
              value:
                id: TRhw2BGAqyFZcrjTYXq4qTvY
                created_at: '2022-10-10T03:49:20.71Z'
                updated_at: '2022-10-10T03:49:21.62Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 662154
                amount_requested: 662154
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: sale
                trace_id: 9789aa49-23a5-47c5-9ca1-7492a582fcde
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhw2BGAqyFZcrjTYXq4qTvY
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhw2BGAqyFZcrjTYXq4qTvY/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhw2BGAqyFZcrjTYXq4qTvY/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhw2BGAqyFZcrjTYXq4qTvY/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhw2BGAqyFZcrjTYXq4qTvY/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - Debit Bank Account:
              value:
                id: TRrfaQBfXkc4wopWK6pcrnoR
                created_at: '2022-10-10T03:51:19.27Z'
                updated_at: '2022-10-10T03:51:20.77Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 6031
                amount_requested: 6031
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 603
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIr1Ru7ewBkEYVVn7SP1u5FW
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  order_number: 21DFASJSAKAS
                trace_id: e7f2e240-f6e5-41ef-a533-ed6c8ccf5222
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRrfaQBfXkc4wopWK6pcrnoR
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRrfaQBfXkc4wopWK6pcrnoR/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRrfaQBfXkc4wopWK6pcrnoR/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRrfaQBfXkc4wopWK6pcrnoR/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRrfaQBfXkc4wopWK6pcrnoR/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIr1Ru7ewBkEYVVn7SP1u5FW
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - 3D Secure:
              value:
                id: TR7QJuf7mD6vSAmwHYbhVWem
                created_at: '2022-10-10T03:47:09.23Z'
                updated_at: '2022-10-10T03:47:10.06Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 92169
                amount_requested: 92169
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: sale
                trace_id: 9d8052e9-2432-4117-aa57-d5ff0a7acecc
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TR7QJuf7mD6vSAmwHYbhVWem
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TR7QJuf7mD6vSAmwHYbhVWem/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TR7QJuf7mD6vSAmwHYbhVWem/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TR7QJuf7mD6vSAmwHYbhVWem/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TR7QJuf7mD6vSAmwHYbhVWem/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - Level 2 Processing:
              value:
                id: TRfnDYRPA5cNN5nup9WWpavy
                created_at: '2022-10-10T03:27:23.09Z'
                updated_at: '2022-10-10T03:27:23.74Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 1000
                amount_requested: 1000
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: sale
                trace_id: 8356c796-90ea-43ed-9dba-7a31dd5d1a1c
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRfnDYRPA5cNN5nup9WWpavy
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRfnDYRPA5cNN5nup9WWpavy/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRfnDYRPA5cNN5nup9WWpavy/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRfnDYRPA5cNN5nup9WWpavy/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRfnDYRPA5cNN5nup9WWpavy/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - Level 3 Processing:
              value:
                id: TRhNEVxYWDF97SEqBJHykPDH
                created_at: '2022-10-10T03:42:15.11Z'
                updated_at: '2022-10-10T03:42:15.68Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 1000
                amount_requested: 1000
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: sale
                trace_id: ce93f81e-187d-4d2a-b387-bb316f9efa9a
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhNEVxYWDF97SEqBJHykPDH
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhNEVxYWDF97SEqBJHykPDH/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhNEVxYWDF97SEqBJHykPDH/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhNEVxYWDF97SEqBJHykPDH/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhNEVxYWDF97SEqBJHykPDH/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Refund Transfer:
              value:
                id: TRhLCS57STJRfpw2ZoRhSHf2
                created_at: '2023-09-19T20:19:58.95Z'
                updated_at: '2023-09-19T20:19:59.01Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                additional_purchase_data: null
                address_verification: null
                amount: 100
                amount_requested: 100
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: PIe2YvpcjvoVJ6PzoRPBK137
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                parent_transfer: TRr3Rd7Sy7zbrsWAH7Jwo7vt
                parent_transfer_trace_id: null
                raw: null
                ready_to_settle_at: null
                receipt_last_printed_at: null
                security_code_verification: null
                source: null
                split_transfers: []
                state: PENDING
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: refund
                trace_id: 4ec8b76b-c615-455d-ba78-c03f0f480b4a
                type: REVERSAL
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhLCS57STJRfpw2ZoRhSHf2
                  parent:
                    href: https://finix.sandbox-payments-api.com/transfers/TRr3Rd7Sy7zbrsWAH7Jwo7vt
                  destination:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhLCS57STJRfpw2ZoRhSHf2/payment_instruments
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Card Present Transfer - EMV Card:
              value:
                id: TRtC5R4pnKkLj8hcLpgFivoS
                created_at: '2022-10-10T06:07:52.01Z'
                updated_at: '2022-10-10T06:07:53.01Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 150
                amount_requested: 150
                application: APeUbTUjvYb1CdPXvNcwW1wP
                card_present_details:
                  emv_data: null
                  masked_account_number: null
                  name: null
                  brand: null
                  entry_mode: null
                  payment_type: NONE
                  approval_code: null
                currency: USD
                destination: null
                device: DVsEanpBtsAVvCHbNXkFaH6f
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                messages: null
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PI64EnboFzoZNFkBUHbgVDa2
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FIN*GOLDS GYM
                subtype: API
                tags:
                  order_number: chris123transfer
                trace_id: FNXsK76MxJWPkbGqpKymgkzK
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRtC5R4pnKkLj8hcLpgFivoS
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                  device:
                    href: https://finix.sandbox-payments-api.com/devices/DVsEanpBtsAVvCHbNXkFaH6f
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRtC5R4pnKkLj8hcLpgFivoS/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRtC5R4pnKkLj8hcLpgFivoS/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRtC5R4pnKkLj8hcLpgFivoS/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRtC5R4pnKkLj8hcLpgFivoS/disputes
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPrATYzpomaTRtdo2BssRoGx
            Card Present Transfer - Non-EMV Card:
              value:
                id: TRhzZurepF7DwpL3REV5jU2T
                created_at: '2022-10-10T06:12:31.55Z'
                updated_at: '2022-10-10T06:12:33.09Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 150
                amount_requested: 150
                application: APeUbTUjvYb1CdPXvNcwW1wP
                card_present_details:
                  emv_data: null
                  masked_account_number: null
                  name: null
                  brand: null
                  entry_mode: null
                  payment_type: NONE
                  approval_code: null
                currency: USD
                destination: null
                device: DVsEanpBtsAVvCHbNXkFaH6f
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                messages: null
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PI6SBgTQipPQa3ZpDe27Fbym
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FIN*GOLDS GYM
                subtype: API
                tags:
                  order_number: chris123transfer
                trace_id: FNXkc963gjMZh8eLfgSHWmgHz
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhzZurepF7DwpL3REV5jU2T
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                  device:
                    href: https://finix.sandbox-payments-api.com/devices/DVsEanpBtsAVvCHbNXkFaH6f
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhzZurepF7DwpL3REV5jU2T/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhzZurepF7DwpL3REV5jU2T/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhzZurepF7DwpL3REV5jU2T/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRhzZurepF7DwpL3REV5jU2T/disputes
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPrATYzpomaTRtdo2BssRoGx
            Card Present Transfer - Manual Entry:
              value:
                id: TRi5vEeiCojkBCnvq8AD3HGm
                created_at: '2022-10-10T03:20:50.29Z'
                updated_at: '2022-10-10T03:20:51.71Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 150
                amount_requested: 150
                application: APeUbTUjvYb1CdPXvNcwW1wP
                card_present_details:
                  emv_data: null
                  masked_account_number: null
                  name: null
                  brand: null
                  entry_mode: null
                  payment_type: NONE
                  approval_code: null
                currency: USD
                destination: null
                device: DVsEanpBtsAVvCHbNXkFaH6f
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                messages: null
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PI9D3HHedxWzCaadkGqrX2t1
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FIN*GOLDS GYM
                subtype: API
                tags:
                  order_number: chris123transfer
                trace_id: FNXbAn8pqY7Pb2238uTFcdAiN
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRi5vEeiCojkBCnvq8AD3HGm
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                  device:
                    href: https://finix.sandbox-payments-api.com/devices/DVsEanpBtsAVvCHbNXkFaH6f
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRi5vEeiCojkBCnvq8AD3HGm/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRi5vEeiCojkBCnvq8AD3HGm/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRi5vEeiCojkBCnvq8AD3HGm/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRi5vEeiCojkBCnvq8AD3HGm/disputes
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPrATYzpomaTRtdo2BssRoGx
            Refund Transfer - Card Present:
              value:
                id: TRpc9StVytskqYnWoF2Ho8pK
                created_at: '2022-10-10T03:17:34.57Z'
                updated_at: '2022-10-10T03:17:35.83Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 150
                amount_requested: 150
                application: APeUbTUjvYb1CdPXvNcwW1wP
                card_present_details:
                  emv_data: null
                  masked_account_number: null
                  name: null
                  brand: null
                  entry_mode: null
                  payment_type: NONE
                  approval_code: null
                currency: USD
                destination: PInUwPXf1MYj7xJ8jfmdksa5
                device: DVtk6E4eWHsMzgZXvFaaUigM
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                messages: null
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: null
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FIN*GOLDS GYM
                subtype: API
                tags: {}
                trace_id: FNXkYuDrPQxzpNk5xtGhXSyU8
                type: REVERSAL
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRpc9StVytskqYnWoF2Ho8pK
                  parent:
                    href: https://finix.sandbox-payments-api.com/transfers/TRn9pzzn1NVLdwwBwVrqSwAX
                  destination:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PInUwPXf1MYj7xJ8jfmdksa5
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRpc9StVytskqYnWoF2Ho8pK/payment_instruments
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPrATYzpomaTRtdo2BssRoGx
            Refund Transfer - Swiped Card:
              value:
                id: TR3vLiG6wecEwY3TC3oQiudG
                created_at: '2019-04-24T19:19:34.11Z'
                updated_at: '2019-04-24T19:19:48.09Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 100
                amount_requested: 100
                application: APuZMfMerci2JuLUs7xWpf5G
                card_present_details:
                  emv_data: null
                  masked_account_number: '************0006'
                  name: TEST/WORLDPAY
                  brand: VISA
                  entry_mode: SWIPED
                  payment_type: CREDIT
                  approval_code: 000019
                currency: USD
                destination: PIiPybsvUSM4fN8sYaMS3qXg
                device: DVsEanpBtsAVvCHbNXkFaH6f
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDsbTBawhnLBAVeinRb84vFR
                messages: null
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: null
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNXQA*FINIX FLOWERS
                subtype: API
                tags:
                  order_number: testing123
                trace_id: FNXgm7zyjYEmYwUQ3fktSTkaZ
                type: REVERSAL
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APeUbTUjvYb1CdPXvNcwW1wP
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TR3vLiG6wecEwY3TC3oQiudG
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TR3vLiG6wecEwY3TC3oQiudG/payment_instruments
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDsbTBawhnLBAVeinRb84vFR
                  device:
                    href: https://finix.sandbox-payments-api.com/devices/DVsEanpBtsAVvCHbNXkFaH6f
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TR3vLiG6wecEwY3TC3oQiudG/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TR3vLiG6wecEwY3TC3oQiudG/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TR3vLiG6wecEwY3TC3oQiudG/disputes
                  destination:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIiPybsvUSM4fN8sYaMS3qXg
            Transfer - Buyer Charges:
              value:
                id: TRwsaGmWDvcg6sgRACsxoRFa
                created_at: '2022-10-11T03:22:40.87Z'
                updated_at: '2022-10-11T03:22:41.54Z'
                additional_buyer_charges:
                  convenience_amount: 300
                  rent_surcharge_amount: 0
                additional_healthcare_data: null
                address_verification: null
                amount: 10000
                amount_requested: 10000
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: sale
                trace_id: fe1337e5-4608-4038-bc5a-675dee6ab0db
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRwsaGmWDvcg6sgRACsxoRFa
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRwsaGmWDvcg6sgRACsxoRFa/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRwsaGmWDvcg6sgRACsxoRFa/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRwsaGmWDvcg6sgRACsxoRFa/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRwsaGmWDvcg6sgRACsxoRFa/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - HSA or FSA Cards:
              value:
                id: TR8bRJ22SBReMehVQMVAbRpr
                created_at: '2022-10-10T06:31:52.37Z'
                updated_at: '2022-10-10T06:31:53.12Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 950
                amount_requested: 950
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  order_number: 21DFASJSAKAS
                trace_id: ea7c2b3e-bef7-45c5-aac3-76c94e25cb65
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TR8bRJ22SBReMehVQMVAbRpr
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TR8bRJ22SBReMehVQMVAbRpr/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TR8bRJ22SBReMehVQMVAbRpr/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TR8bRJ22SBReMehVQMVAbRpr/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TR8bRJ22SBReMehVQMVAbRpr/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - Card Verification Checks:
              value:
                id: TR61nQ89c8U5i7uAvwmSuLnv
                created_at: '2022-10-11T03:24:04.67Z'
                updated_at: '2022-10-11T03:24:05.47Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 662154
                amount_requested: 662154
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers: null
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags: {}
                trace_id: cc2e9d44-c87d-4cb2-bb2f-b7be2eea9afa
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TR61nQ89c8U5i7uAvwmSuLnv
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TR61nQ89c8U5i7uAvwmSuLnv/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TR61nQ89c8U5i7uAvwmSuLnv/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TR61nQ89c8U5i7uAvwmSuLnv/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TR61nQ89c8U5i7uAvwmSuLnv/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Transfer - Split Transaction:
              value:
                id: TRmCUZEnXF3BAr4uUKG5YVcW
                created_at: '2023-07-25T23:33:26.16Z'
                updated_at: '2023-07-25T23:33:27.99Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 1000
                amount_requested: 1000
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: null
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                receipt_last_printed_at: null
                security_code_verification: null
                source: PIe2YvpcjvoVJ6PzoRPBK137
                split_transfers:
                - split_transfer_mDDBJcdfbvZQD5KbfdnECV
                - split_transfer_mDEEvWVsk3b963EhZha52k
                - split_transfer_mDEEXLvLihTL24iGdLWwbb
                state: SUCCEEDED
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: sale
                trace_id: db85490a-7fbe-4e10-9edd-13e39f930ddf
                type: DEBIT
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRmCUZEnXF3BAr4uUKG5YVcW
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRmCUZEnXF3BAr4uUKG5YVcW/payment_instruments
                  reversals:
                    href: https://finix.sandbox-payments-api.com/transfers/TRmCUZEnXF3BAr4uUKG5YVcW/reversals
                  fees:
                    href: https://finix.sandbox-payments-api.com/transfers/TRmCUZEnXF3BAr4uUKG5YVcW/fees
                  disputes:
                    href: https://finix.sandbox-payments-api.com/transfers/TRmCUZEnXF3BAr4uUKG5YVcW/disputes
                  source:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
            Refund Transfer - Split Transaction:
              value:
                id: TRm23kdc4SCxYyva47RyiZv
                created_at: '2023-07-19T03:02:02.89Z'
                updated_at: '2023-07-19T03:02:03.01Z'
                additional_buyer_charges: null
                additional_healthcare_data: null
                address_verification: null
                amount: 1000
                amount_requested: 1000
                application: APgPDQrLD52TYvqazjHJJchM
                currency: USD
                destination: PIe2YvpcjvoVJ6PzoRPBK137
                externally_funded: UNKNOWN
                failure_code: null
                failure_message: null
                fee: 0
                idempotency_id: null
                merchant: MUeDVrf2ahuKc9Eg5TeZugvs
                merchant_identity: IDuqZpDw28f2KK6YuDk4jNLg
                messages: []
                raw: null
                ready_to_settle_at: null
                receipt_last_printed_at: null
                security_code_verification: null
                source: null
                split_transfers:
                - split_transfer_m7Y8kgx4nunsrVbuMdedDo
                - split_transfer_m7Yct9DmD5ctdWxDTAZjPc
                - split_transfer_m7YcD9mGG92oqxPPDhE23U
                state: PENDING
                statement_descriptor: FNX*DUNDER MIFFLIN
                subtype: API
                tags:
                  test: refund
                trace_id: d1c14ed9-1945-4cef-b0f8-c1d8ba037a86
                type: REVERSAL
                _links:
                  application:
                    href: https://finix.sandbox-payments-api.com/applications/APgPDQrLD52TYvqazjHJJchM
                  self:
                    href: https://finix.sandbox-payments-api.com/transfers/TRm23kdc4SCxYyva47RyiZv
                  parent:
                    href: https://finix.sandbox-payments-api.com/transfers/TR7h8NxhCDHunLFdJ1HCLp4r
                  destination:
                    href: https://finix.sandbox-payments-api.com/payment_instruments/PIe2YvpcjvoVJ6PzoRPBK137
                  merchant_identity:
                    href: https://finix.sandbox-payments-api.com/identities/IDuqZpDw28f2KK6YuDk4jNLg
                  payment_instruments:
                    href: https://finix.sandbox-payments-api.com/transfers/TRm23kdc4SCxYyva47RyiZv/payment_instruments
                  fee_profile:
                    href: https://finix.sandbox-payments-api.com/fee_profiles/FPvCQUcnsueN3Bc3zR1qCBG8
      headers:
        finix-apiuser-role:
          $ref: '#/components/headers/finix-apiuser-role'
        date:
          $ref: '#/components/headers/date'
        x-request-id:
          $ref: '#/components/headers/x-request-id'
  schemas:
    CreateReversalRequest:
      type: object
      properties:
        idempotency_id:
          $ref: '#/components/schemas/IdempotencyId'
        refund_amount:
          type: integer
          description: The amount of the refund in cents. It must be equal to or less than the amount of the original `Transfer`.
        tags:
          $ref: '#/components/schemas/Tags'
        device:
          type: string
          description: The ID of the `Device` used to process the transaction.
        amount:
          type: integer
          description: The amount of the sale.
        currency:
          $ref: '#/components/schemas/Currency'
        operation_key:
          type: string
          description: Describes the operation to be performed in the transaction. Use **CARD_PRESENT_UNREFERENCED_REFUND** for refunds where the card isn't avalible.
          example: CARD_PRESENT_UNREFERENCED_REFUND
          nullable: true
        split_transfers:
          type: object
          description: '- An array used to detail how funds from the `Transfer` will split and the amount `Merchants` receive.

            - The combined `amounts` under `split_transfers` must be equal to the `amount` submitted in the parent `Transfer.`

            - For more information, see [Split Transactions](/docs/guides/payments/modify/split-transactions/).'
          properties:
            amount:
              type: integer
              format: int64
              description: '- The amount of funds that get split and paid out to the specified `Merchant`.

                - Must be less than or equal to the `amount` of the `Transfer.`'
            merchant:
              type: string
              description: '- The ID of the `Merchant` that will receive the specified `amount` under the `split_transfers` object.

                - In Split Transactions, the `Merchants` specified in the `split_transfers` object are the ancillary `Merchants.`'
    Error406NotAcceptable:
      type: object
      properties:
        total:
          type: integer
        _embedded:
          type: object
          properties:
            errors:
              type: array
              items:
                type: object
                additionalProperties: true
                properties:
                  code:
                    type: string
                    enum:
                    - NOT_FOUND
                  logref:
                    $ref: '#/components/schemas/LogRef'
                  message:
                    type: string
                  _links:
                    type: object
                    properties:
                      source:
                        type: object
                        properties:
                          href:
                            type: string
      title: ''
    AdditionalHealthcareData:
      title: AdditionalHealthcareData
      x-stoplight:
        id: ibznc087ymmit
      type: object
      description: Optional object detailing [specific healthcare amounts](/guides/making-a-payment/hsa-fsa/).
      nullable: true
      properties:
        clinic_amount:
          type: integer
          description: The amount used for clinic and office visits such as a copay amount.
          nullable: true
        dental_amount:
          type: integer
          description: The amount used for dental related expenses.
          nullable: true
        prescription_amount:
          type: integer
          description: The amount used to purchase perscriptions and medications.
          nullable: true
        vision_amount:
          type: integer
          description: The amount used for vision related expenses.
          nullable: true
    Raw:
      title: Raw
      description: Raw response from the processor.
      x-examples: {}
      type: object
      nullable: true
    UpdateTransferRequest:
      title: TransferUpdate
      type: object
      properties:
        tags:
          $ref: '#/components/schemas/Tags'
    Currency:
      type: string
      description: ISO 4217 3 letter currency code.
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYR
      - BZD
      - CAD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LTL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRO
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SRD
      - SSP
      - STD
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - USN
      - UYI
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
    Error401Unauthorized:
      type: object
      properties:
        total:
          type: integer
        _embedded:
          type: object
          properties:
            errors:
              type: array
              items:
                type: object
                additionalProperties: true
                properties:
                  code:
                    type: string
                    enum:
                    - UNKNOWN
                  logref:
                    $ref: '#/components/schemas/LogRef'
                  message:
                    type: string
                  _links:
                    type: object
                    additionalProperties: true
                    properties:
                      self:
                        type: object
                        properties:
                          href:
                            type: string
                      source:
                        type: object
                        properties:
                          href:
                            type: string
    CreateTransferRequest:
      type: object
      properties:
        additional_buyer_charges:
          $ref: '#/components/schemas/AdditionalBuyerCharges'
        additional_purchase_data:
          $ref: '#/components/schemas/AdditionalPurchaseData'
        adjustment_request:
          type: boolean
          description: Details if the `transfer` was created to adjust funds.
          nullable: true
        amount:
          type: integer
          format: int64
          description: The total amount that will be debited from the buyer in cents (e.g. 100 cents to debit $1.00).
        currency:
          $ref: '#/components/schemas/Currency'
        destination:
          type: string
          description: ID of the `Payment Instrument` where funds will be sent.
          nullable: true
        device:
          type: string
          description: The ID of the activated device.
          nullable: true
        fee:
          type: integer
          format: int64
          description: "The minimum amount of the `Transfer` you'd like to collect as your fee in cents. Defaults to zero (must be less than or equal to the `amount`).\n- If the fees applied by the 'Fee Profile' are ***higher*** than the value passed in 'fee', 'fee' will not be applied and have no effect.\n- If the fees applied by the 'Fee Profile' are ***lower*** than the value passed in 'fee', an additional fee is be applied, in addition to the fees generated by the `Fee Profile`.\n    - The additional fee is equal to the difference between the value passed in 'fee' and the fees generated by the `Fee Profile`."
        fraud_session_id:
          $ref: '#/components/schemas/FraudSessionID'
        hsa_fsa_payment:
          $ref: '#/components/schemas/HSAFSAPayment'
        idempotency_id:
          type: string
          description: A randomly generated value that gets tied with the request.
          nullable: true
        merchant:
          type: string
          description: "- ID of the primary `Merchant` that's processing the `Transfer` for the buyer. \n- In Split Transactions, the `Merchant` specified in the `Transfer` request is the primary `Merchant`."
          nullable: true
        operation_key:
          type: string
          enum:
          - CARD_PRESENT_DEBIT
          - CARD_PRESENT_UNREFERENCED_REFUND
          - MERCHANT_CREDIT_ADJUSTMENT
          - MERCHANT_DEBIT_ADJUSTMENT
          - PULL_FROM_CARD
          - PUSH_TO_CARD
          - SALE
          - UNREFERENCED_REFUND
          description: Details the operation that's be performed in the transaction.
          nullable: true
        processor:
          type: string
          description: Name of the transaction processor.
        source:
          type: string
          description: ID of the `Payment Instrument` where funds get debited.
        security_code:
          type: string
          description: The 3-4 digit security code for the card (i.e. CVV code). Include the CVV code of the card to include [Card Verification Checks](/guides/payments/making-a-payment/card-verification-checks/) with the created `Transfer`.
          nullable: true
        statement_descriptor:
          type: string
          description: <li>The description of the transaction that appears on the buyer's bank or card statement.</li><li><kbd>statement_descriptors</kbd> for `Transfers` in <strong>live</strong> enviroments will have a <kbd>FI *</kbd> prefix.
          maxLength: 20
          nullable: true
        tags:
          $ref: '#/components/schemas/Tags'
        3d_secure_authentication:
          type: object
          description: The 3D secure information required to create a 3D secure `Transfer.`
          nullable: true
          properties:
            cardholder_authentication:
              type: string
              description: Provides evidence that the cardholder authentication occurred or that the merchant attempted authentication. This is unique for each authentication transaction.
            cardholder_ip_address:
              type: string
              description: Only required for **American Express** cards.
              example: 189.1.126.240
            electronic_commerce_indicator:
              type: string
              description: '- **AUTHENTICATED**: Approved by 3D Secure Vendor.

                - **ATTEMPTED**: Issuer or cardholder does not support 3D Secure.'
            transaction_id:
              type: string
              description: Only required for **Visa** cards.
          required:
          - cardholder_authentication
          - electronic_commerce_indicator
        'additional_purchase_data ':
          $ref: '#/components/schemas/L3AdditionalPurchaseData'
        device_configuration:
          $ref: '#/components/schemas/ConfigurationDetails'
        split_transfers:
          type: object
          description: '- An array used to detail how funds from the `Transfer` will split and the amount `Merchants` receive.

            - The combined `amounts` under `split_transfers` must be equal to the `amount` submitted in the parent `Transfer.`

            - For more information, see [Split Transactions](/docs/guides/payments/modify/split-transactions/).'
          properties:
            amount:
              type: integer
              format: int64
              description: '- The amount of funds that get split and paid out to the specified `Merchant`.

                - Must be less than or equal to the `amount` of the `Transfer.`'
            merchant:
              type: string
              description: '- The ID of the `Merchant` that will receive the specified `amount` under the `split_transfers` object.

                - In Split Transactions, the `Merchants` specified in the `split_transfers` object are the ancillary `Merchants.`'
            tags:
              $ref: '#/components/schemas/Tags'
    L3AdditionalPurchaseData:
      title: L3AdditionalPurchaseData
      x-stoplight:
        id: 7xbmc1d9p49or
      type: object
      description: Additional information about the purchase. Used for [Level 2 and Level 3 Processing](/guides/payments/modify/level-2-and-level-3-processing/).
      properties:
        customer_reference_number:
          type: string
          description: The customer reference for the purchase (max 17 characters).
          maxLength: 17
        customs_duty_amount:
          type: integer
          description: The duty in cents on the total purchase amount for the order
        destination_country_code:
          type: string
          description: The ISO country code of the order destination.
        destination_postal_code:
          type: string
          description: The postal code of the order destination (10 characters)
          maxLength: 10
        discount_amount:
          type: integer
          description: The amount in cents of the discount for the order.
        invoice_reference_number:
          type: string
          description: The order's invoice number (max 15 characters)
          maxLength: 15
        item_data:
          type: array
          description: Additional information about the transaction. Used for Level 2 and Level 3 Processing.
          items:
            type: object
            properties:
              amount_excluding_sales_tax:
                type: integer
                description: '- Total cost of the line item in cents, excluding tax.

                  - Must align with `sales_tax` so `amount_excluding_sales_tax` + `sales_tax` = `amount_including_sales_tax`.'
              amount_including_sales_tax:
                type: integer
[...]
